<div class="header">
  <div class="info">
    <span class="details">
      <h1>{{message?.nom}}</h1>
      <h1>{{message?.prenom}}</h1>
    </span>
  </div>
  <div>
    <button class="deletsujet" (click)="deleteReponses(data.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<!-- Corps de la conversation -->
<div class="conversation">
  <div class="conteneur_quest_reponse">
    <div class="question_aide">
      {{message?.message}}
    </div>

    <!-- Liste des messages -->
    <div class="text_reponse">
      <label>Reponse</label>
    </div>

    <div class="chat_section" id="chat">
      <div class="yours_messages" *ngFor="let reponse of reponses.slice().reverse()">
        <div class="avatar">
          <mat-icon>person</mat-icon>
        </div>
        <div class="nom_message">
          <h2 class="nom">{{ reponse.nom }}</h2>
          <span class="message">{{ reponse.contenu }}</span>
        </div>
        <span class="date">{{ reponse.date }}</span>
      </div>
    </div>

  </div>

  <!-- Nouvelle entrée de message -->
  <div class="message-input">
    <input type="text" placeholder="Votre réponse ..." [(ngModel)]="newReponse" class="input-message">
    <!-- Utiliser une icône Angular Material pour le bouton envoyer -->
    <button mat-fab class="send-button" (click)="sendReponse()">
      <mat-icon>send</mat-icon>
    </button>


  </div>
</div>
