/* Style général */
.general {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  color: #fffb00; /* Couleur dorée pour le texte */

}

/* En-tête */
.entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e; /* Couleur sombre pour l'entête */
  color: #fffb00; /* Doré */
  padding: 10px 20px;
  height: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4); /* Ombre subtile */
}
.logo_nom {
  display: flex;
  align-items: center;
  border-radius: 10%;
}

.logo {
  width: 60px;
  height: 40px;
  background-image: url('logogpi1.png');
  background-size: cover;  /* Ajuste l'image pour qu'elle couvre toute la zone */
  background-position: center; /* Centre l’image */

  margin-right: 10px;
}
.image_logox {
  margin-top: 15;
  width: 15px; /* Taille de l'icône */
  height: 15px;
  background-image: url('card.svg'); /* Utilisation d'un chemin relatif */
  background-size: cover; /* Ajuste l'image pour couvrir le div */
  background-position: center; /* Centre l'image dans le div */
  border-radius: 50%; /* Pour rendre l'icône ronde */
  margin-right: 10px;
}
.titrex {
  padding: 12px 15px; /* Espacement interne */

//    background-color: #292929; /* Fond légèrement différent pour distinguer les options */
  color: #e0e0e0; /* Gris clair pour le texte */
  font-size: 16px; /* Taille de police professionnelle */
  font-weight: 300; /* Texte légèrement gras */
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s, color 0.3s, transform 0.2s; /* Transitions fluides */
  display: flex;
  align-items: flex-end;
}
.menu_entete {
  display: flex;
  align-items: center;
}
.titre_menu, .titre_menu_Deconnexion {
  padding: 10px 20px; /* Espacement interne pour un rendu agréable */
  margin: 5px 0; /* Espacement externe entre les éléments */
  border: 1px solid transparent; /* Bordure initialement invisible */
  border-radius: 50px; /* Coins arrondis pour un style moderne */
  font-size: 13px; /* Taille de police professionnelle */
  font-weight: 500; /* Texte légèrement gras */
  color: #ffffff; /* Couleur du texte */
  background-color: #292929; /* Fond sombre */
  text-align: center; /* Texte centré */
  transition: all 0.3s ease-in-out; /* Transition fluide */
  cursor: pointer; /* Curseur interactif */
  border-color: #fffb00;;
  margin-left: 5px;
}

.titre_menu:hover, .titre_menu_Deconnexion:hover {
  border-color: #0c0c0b; /* Bordure dorée au survol */
  background-color: #d4ad2ae1; /* Fond plus sombre pour le contraste */
  transform: scale(1.05); /* Léger zoom pour indiquer une action */
}

.titre_menu_Deconnexion {
  border-color: #e94560; /* Bordure rouge distincte pour Déconnexion */
}

.titre_menu_Deconnexion:hover {
  background-color: #e94560; /* Fond rouge au survol */
  color: #ffffff; /* Texte blanc pour le contraste */
  transform: scale(1.05); /* Zoom au survol */
}


/* Corps principal */
.corp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  scrollbar-color: #fffb00 #2b2b2b; /* Couleurs pour le scroll : poignée jaune, fond sombre */
  scrollbar-width: thin;
  position: relative;
  .loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: rgba(3, 1, 1, 0.747); /* Fond semi-transparent */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Pour s'assurer qu'il est au-dessus de tout */
  }

  /* Spinner (optionnel) */
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: rgb(255, 230, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  /* Barre de chargement */
  .barre_chargement {
    width: 300px;
    height: 20px;
    background-color: #e0e0e0; /* Couleur de fond de la barre */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
  }

  .barre_remplissage {
    height: 100%;
    background-color: rgb(255, 196, 0); /* Couleur de remplissage de la barre */
    border-radius: 10px;
    transition: width 0.5s ease; /* Animation fluide */
  }

  /* Texte du pourcentage */
  .pourcentage {
    margin-top: 10px;
    font-size: 16px;
    color: #f8f8f8;
  }
  .nav_lateral {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    width: 20%; /* Largeur fixe pour un menu latéral confortable */
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3); /* Ombre subtile pour séparation */
    font-family: 'Roboto', sans-serif; /* Police moderne */
    .entete{
      background-color:#fffb00;
      color: #131212;
      height: 5%;
    }
    .contenu_nav{
      background-color: #1f1f1f;/* Fond sombre pour le menu */
      color: #ffffff; /* Texte blanc pour le contraste */
      padding: 5px;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      gap: 3px;
    }

   .titre {
    padding: 12px 15px; /* Espacement interne */

//    background-color: #292929; /* Fond légèrement différent pour distinguer les options */
    color: #e0e0e0; /* Gris clair pour le texte */
    font-size: 16px; /* Taille de police professionnelle */
    font-weight: 300; /* Texte légèrement gras */
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s, color 0.3s, transform 0.2s; /* Transitions fluides */
  }

    .titre:hover {
    background-color: #fffb00; /* Couleur dorée pour l'option survolée */
    color: #1f1f1f; /* Texte sombre pour le contraste sur fond doré */
    transform: translateX(5px); /* Déplacement subtil pour indiquer une action */
  }


  /* Animation pour les titres */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  }

  .acceuille {
    width: 80%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  /* Ajout d'un pseudo-élément pour l'effet flouté */
  .acceuille::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('c.jpg');
      background-size: cover;
      background-position: center;
      z-index: -1;
       /* Place le flou derrière le contenu */
  }

  .ordinateur {
    width: 80%;
    height: 95%;
    background-color: #f4f4f4;
    padding: 20px 40px 30%;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    background-image: url('c.jpg');
    background-size: cover;
    background-position: center;

    scrollbar-color: #fffb00 hsl(0, 0%, 17%); /* Couleurs pour le scroll : poignée jaune, fond sombre */
    scrollbar-width: thin;
  }

  .logiciel {
    width: 80%;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px 40px 10%;
    overflow: hidden;
    background-image: url('c.jpg');
    background-size: cover;
    background-position: center;

  }
  .materiel {
    width: 80%;
    height: 95%;
    background-color: #f4f4f4;
    padding: 20px 40px 30%;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    scrollbar-color: #fffb00 hsl(0, 0%, 17%); /* Couleurs pour le scroll : poignée jaune, fond sombre */
    scrollbar-width: thin;
    background-image: url('c.jpg');
    background-size: cover;
    background-position: center;

  }
  .imprimante{
    width: 80%;
    height: 95%;
    background-color: #f4f4f4;
    padding: 20px 40px 30%;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    scrollbar-color: #fffb00 hsl(0, 0%, 17%); /* Couleurs pour le scroll : poignée jaune, fond sombre */
    scrollbar-width: thin;
    background-image: url('c.jpg');
    background-size: cover;
    background-position: center;

  }
  .peripherique {
    width: 80%;
      height: 100%;
      background-color: #121212;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      overflow: hidden;
      background-image: url('c.jpg');
      background-size: cover;
      background-position: center;

  }
  .ticket {
    width: 80%;
      height: 100%;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: hidden;
      background-image: url('c.jpg');
      background-size: cover;
      background-position: center;

  }
  .profil {
    width: 80%;
      height: 100%;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      overflow: hidden;
      background-image: url('c.jpg');
      background-size: cover;
      background-position: center;

  }

}












