<!-- src/app/acceuille/acceuille.component.html -->
<div class="landing-page">
  <main class="content">
    <div class="text-content">
      <h1>Data Base CTI</h1>
      <p>Ce site est conçu pour simplifier la distribution des cours universitaires. Les professeurs peuvent facilement envoyer leurs cours ici, et les étudiants peuvent les télécharger via l'application mobile dédiée C.T.i(Cour et Travaux dirigés pour l'Informatique), Accédez à tout votre contenu éducatif en un seul endroit, où que vous soyez.</p>
      <button class="learn-more-btn" (click)="openModal()">Commencer</button> </div>
    <div class="phone-image">
      <img src="assets/phone.png" alt="Mobile App" />
    </div>
  </main>
</div>
