.landing-page {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #18fddf, #f028d5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 5%;
  color: rgb(35, 39, 255);
}

.text-content {
  display:flex;
  flex-direction: column;
}

.text-content h1 {
  font-size: 100px;
  margin-bottom: 20px;
  font-weight: bolder;
  margin-bottom: 100px;
}

.text-content p {
  font-size: 15px;
  margin-bottom: 40px;
  width: 60%;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

.learn-more-btn {
  padding: 15px 30px;
  background: linear-gradient(to right, #fa289b, #45f5e6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
  width: 15%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.learn-more-btn:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.phone-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

.phone-image img {
  max-width: 20vw;
  border-radius: 20px;
}

/* Styles pour les tablettes */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .text-content h1 {
    font-size: 36px;
  }

  .text-content p {
    font-size: 18px;
  }

  .phone-image img {
    max-width: 40vw;
  }
}

/* Styles pour les mobiles */
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .text-content h1 {
    font-size: 28px;
  }

  .text-content p {
    font-size: 16px;
  }

  .learn-more-btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .phone-image img {
    max-width: 60vw;
  }
}
