
<div class="header">
  <span class="title">Profils</span>
</div>

<div class="contenue_ajoute_ticket">
  <div class="contenu_formu">
    <form class="ticket-form">
      <div class="formu_ticket_gauche">

        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" id="nom" name="nom" required>
        </div>

        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" id="prenom" name="prenom" required>
        </div>

        <div class="form-group">
          <label for="date_naissance">Date de naissance</label>
          <input type="text" id="date_naissance"   >
        </div>

        <div class="form-group">
          <label for="matricule">N° matricule</label>
          <input type="text" id="matricule"    >
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email"    >
        </div>

      </div>

      <div class="formu_ticket_droit">
        <div class="form-group">
          <label for="telephone"><em>Téléphone</em></label>
          <input type="text" id="telephone"   >
        </div>

        <div class="form-group">
          <label for="password"><em>Mot de passe</em></label>
          <input type="text" id="password"    >
        </div>

        <button type="submit" class="btn-submit">Enregistré</button>
      </div>
    </form>
  </div>
</div>
