<header>
  <div class="header-left">
    <div class="site-name">
      <h1>
        <img src="logo3.png" alt="logo" class="logo">ENR
        <span class="highlight">LAB'VISION</span>
      </h1>
    </div>
    <div class="header-right">
      <h2>
        <a routerLink="/inscription"><i class='bx bx-user-check'></i> Inscription</a>
      </h2>
    </div>
  </div>
</header>

<section>
  <div class="aside">
    <h2>
      <span class="welcome-text">BIENVENUE SUR ENR LAB'VISION</span><br><br>
      <p>Ici, vous pouvez optimiser la maintenance de votre batterie solaire.</p>
      <p>Mais si vous n'avez pas de compte, inscrivez-vous d'abord !</p>
    </h2>
  </div>
  <div class="button">
    <button class="btn">Connexion</button>
  </div>
</section>
