<body>
  <div *ngIf="(loadingService.loading$ | async) === true" class="loading-overlay">
    <p>Chargement en cours...</p>
  </div>
  <div class="container">
    <mat-button-toggle-group [(value)]="selectedSegment" aria-label="Select an option" class="header">
      <mat-button-toggle (click)="LASTselect()" value="cours">COURS</mat-button-toggle>
      <mat-button-toggle (click)="LASTselect()" value="td">TD</mat-button-toggle>
      <mat-button-toggle (click)="LASTselect()" value="forum">FORUM</mat-button-toggle>
      <mat-button-toggle (click)="cle()">CLE</mat-button-toggle>
    </mat-button-toggle-group>

<div *ngIf="selectedSegment === 'cours'">
  <h2>Liste des cours</h2>
  <div class="file">
    <div class="file-item" *ngFor="let cours of courss; let i = index">
      <div class="file_card_txt">
        <h3>{{ cours.titre }}</h3>
        <p>Date : {{ cours.date }}</p>
      </div>
      <div class="file_card_but">
        <button class="but_voir" (click)="voir_file(cours.fichier)">Voir</button>
        <button class="but_delete" (click)="delete_file(cours.id)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
    <form (ngSubmit)="onSubmit()" class="add-cours" *ngIf="selectedSegment === 'cours'">
      <h2>Ajout des cours</h2>
      <input  type="text" id="titre" [(ngModel)]="titre" name="titre" required placeholder="Titre">
      <input  input type="file" id="file" (change)="onFileSelected($event)" accept="application/pdf" required type="file" placeholder="file">
      <button type="submit">AJOUTER</button>
    </form >

    <!-- Afficher la liste des TD -->
    <div  *ngIf="selectedSegment === 'td'">
      <h2>Liste des Travaux Dirigés</h2>
      <div class="file">
        <div class="file-item" *ngFor="let td of Tds; let i = index">
          <div class="file_card_txt">
            <h3>{{ td.titre }}</h3>
            <p>Date : {{ td.date }}</p>
          </div>
          <div class="file_card_but">
            <button class="but_voir" (click)="voir_file(td.fichier)">Voir</button>
            <button class="but_delete" (click)="delete_file_td(td.id)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>

    <form (ngSubmit)="onSubmit_td()" class="add-cours" *ngIf="selectedSegment === 'td'">
      <h2>Ajout des TD</h2>
      <input type="text" id="titre" [(ngModel)]="titre_td" name="titre" required placeholder="Titre">
       <input type="file" id="file" (change)="onFileSelected($event)" accept="application/pdf" required placeholder="file">
       <button type="submit">AJOUTER</button>
    </form>

    <!-- Afficher la liste des forums -->
    <div class="add-cours" *ngIf="selectedSegment === 'forum'">

      <div class="chats">
        <div class="contenu_cht" *ngFor="let message of messages.slice().reverse()" (click)="reponse(message.id)">
           <div class="avatar_user_message">
            <div class="avatar">
              <mat-icon>person</mat-icon>
            </div>
           <div class="nom_messg">
              <h2>{{ message.nom }} {{ message.prenom }}</h2>
              <p>
                {{message.message? message.message : truncateMessage(message.message, 50) }}
                <span *ngIf="message.message" (click)="toggleFullMessage(message)" class="see-more">
                  {{ message.message ? 'voir moins' : 'voir plus' }}
                </span>
              </p>
            </div>
          </div>
          <div class="info-div">
            <p>{{ message.date }}</p>
          </div>
        </div>

      </div>
        <!--<form (ngSubmit)="sendMessage()" class="add-cours" >
        <input  type="text" id="titre" [(ngModel)]="newMessage" placeholder="Votre sujet ..." name="form" required >
        <button type="submit">Actualiser</button>
        </form > -->
    </div>

    <!-- Formulaire d'ajout de TD -->
    <div class="add-cours" *ngIf="selectedSegment === 'cle'">
      <h2>Ajout de TD</h2>
    </div>
  </div>
</body>


