/* Global styles */
body {
  margin: 0;
  padding-bottom: 3vw;
  padding: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  background: linear-gradient(  #284ffa, #45f5e6);
  overflow: hidden;
}

/* Conteneur principal */
.container {
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.479); /* Fond blanc semi-transparent */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Ombre légère */
  border-radius: 8px; /* Coins légèrement arrondis */
  backdrop-filter: blur(5px); /* Effet de flou pour un effet vitre */
  overflow-y: auto; /* Permet le défilement vertical si nécessaire */
  overflow-x: hidden; /* Cache le défilement horizontal */
  height: 90%; /* Hauteur du conteneur */

}


/* Header styles */
/* Styles spécifiques pour le groupe de boutons */
.header {
  display: flex;
  justify-content: space-around;
  background-color: #111524;
  padding: 15px 0;
  border-radius: 8px ;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
/* Style par défaut pour les écrans plus grands (en ligne) */
.header-toggle-group {
  display: flex;
  justify-content: space-around; /* Alignement des boutons en ligne avec espace uniforme */
  flex-wrap: wrap; /* Permet au contenu de se placer en plusieurs lignes si nécessaire */
}

/* Styles pour les éléments de bascule */
.header-toggle-group .mat-button-toggle {
  flex: 1; /* Les éléments occupent une largeur égale */
  margin: 5px; /* Espacement entre les boutons */
}

/* Media Query pour les écrans plus petits (en colonne) */
@media (max-width: 600px) {
  .header-toggle-group {
    flex-direction: row; /* Affichage en colonne sur les petits écrans */
    align-items: center; /* Centre les éléments horizontalement */
  }

  /* Ajuste les marges pour les petits écrans si nécessaire */
  .header-toggle-group .mat-button-toggle {
    margin: 10px 0; /* Espacement vertical entre les boutons */
    width: 100%; /* Les boutons prennent toute la largeur disponible */
  }
}

.mat-button-toggle-group {
  width: 100%;
}

.mat-button-toggle {
  background-color:#111524;
  color: #ebedf3;
  border-radius: 8px;
}

.mat-button-toggle-checked {
  background-color: #e0e3e9;
  color: #0f1013;
}


/* List of courses styles */
.file {
  display: flex;
  flex-direction: column;
  gap: 2px; /* Espace entre chaque cours */

}

.file-item {
  display: flex;
  justify-content: space-between; /* Espace entre le texte et les boutons */
  align-items: center; /* Alignement vertical centré */
  padding: 10px; /* Espace interne */
  background-color: #ffffff; /* Couleur de fond blanc */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Ombre pour donner du relief */
  cursor: pointer; /* Curseur main au survol */
  margin-bottom: 2px; /* Espace entre chaque item */
  transition: transform 0.2s; /* Transition pour l'effet au survol */
}

.file-item:hover {
  transform: scale(1.02); /* Agrandissement léger au survol */
}

.file_card_txt {
  flex: 1; /* Prendre tout l'espace disponible */
}

.file_card_but {
  display: flex; /* Afficher les boutons en ligne */
  gap: 10px; /* Espace entre les boutons */
}

.but_voir {
  padding: 8px 12px; /* Espace interne pour le bouton */
  background-color: #007bff; /* Couleur de fond bleu */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 4px; /* Coins arrondis */
  cursor: pointer; /* Curseur main */
  transition: background-color 0.3s; /* Transition pour le changement de couleur */
}

.but_voir:hover {
  background-color: #0056b3; /* Couleur plus sombre au survol */
}

.but_delete {
  padding: 8px 12px; /* Espace interne pour le bouton */
  background-color: #dc3545; /* Couleur de fond rouge */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 4px; /* Coins arrondis */
  cursor: pointer; /* Curseur main */
  transition: background-color 0.3s; /* Transition pour le changement de couleur */
}

.but_delete:hover {
  background-color: #c82333; /* Couleur plus sombre au survol */
}

/*---------------------------------------*/
.list-cours {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Ombre légère */
  overflow-y: auto; /* Gère le débordement vertical */
}

.list-cours h2 {
  color: #333333;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 35px;
}

.list-cours div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e9ebee; /* Ligne de séparation */
}

.list-cours div:last-child {
  border-bottom: none;
}

.list-cours p {
  margin: 0;
  color: #555555;
  flex: 1; /* Permet au texte de s'ajuster */
}
.cours_card{
  display: flex;
  flex-direction: column;
}
.but_delete {
  background-color: #f02849; /* Couleur de fond du bouton DELETE */
  color: #ffffff;
  border: none;
  padding: 5px 15px;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.list-cours button:hover {
  background-color: #00d4c9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.but_voir{
  background-color: #122bbb; /* Couleur de fond du bouton DELETE */
  color: #ffffff;
  border: none;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
/* Add course styles */
.add-cours {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  justify-items : start;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Ombre légère */
}

.add-cours h2 {
  color: #333333;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 35px;
}

.add-cours input {
  width: calc(50% - 10px);
  padding: 10px;
  margin: 0 5px 10px 0;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  background-color: #f5f6f7;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.add-cours input:focus {
  border-color: #4267b2;
  outline: none;
}

.add-cours input:last-child {
  margin-right: 0;
}

.add-cours button {
  background-color: #3038ad; /* Couleur de fond du bouton AJOUTER */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.add-cours button:hover {
  background-color: #36a420;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
  }



  .list-cours div {
    flex-direction: column;
    align-items: flex-start;
  }

  .list-cours button {
    align-self: flex-end;
    margin-top: 5px;
  }

  .add-cours input {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
/*--------------forum-------------------*/
.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.avatar_user_message{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #70dfd9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-info {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nom_messg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nom_messg h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.info-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
}
.chat-button {
  position: fixed;
  z-index: 111;
  width: 60px;
  height: 60px;
  bottom: 5vh; /* Ajustez la distance par rapport au bas */
  right: 10vw; /* Ajustez la distance par rapport à la droite */
  background: #c23838;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-more {
  color: blue;
  cursor: pointer;
  font-size: 14px;
}

/*---------------------------------------*/
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Assurez-vous qu'il soit au-dessus de tout le reste */
}
