<div class="change-key-container">
  <form (ngSubmit)="onChangeKey()">

    <!-- Titre -->
    <h2>Changements de Clé de Sécurité</h2>

    <!-- Champ pour l'ancienne clé -->
    <div class="form-group">
      <label for="oldKey">Ancienne Clé</label>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ancienne Clé</mat-label>
        <input matInput [(ngModel)]="oldKey" name="oldKey" placeholder="Entrez l'ancienne clé de sécurité" required/>
      </mat-form-field>
    </div>

    <!-- Champ pour la nouvelle clé -->
    <div class="form-group">
      <label for="newKey">Nouvelle Clé</label>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nouvelle Clé de Sécurité</mat-label>
        <input matInput [(ngModel)]="newKey" name="newKey" placeholder="Entrez la nouvelle clé de sécurité" required/>
      </mat-form-field>
    </div>

    <!-- Bouton pour changer la clé -->
    <button mat-raised-button color="primary" type="submit" class="btn-submit">
      Changer Clé
    </button>
  </form>

  <!-- Message de confirmation -->
  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>

  <!-- Message d'erreur -->
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>
