
<div class="header">
  <span class="title">Tickets</span>
</div>
<div class="contenu_but_change">
  <div class="but_listee_ticket" (click)="affiche_liste_ticket()">Ticket</div>
  <div class="but_ajoute_ticket" (click)="affiche_ajoute_ticket()">Ajouter</div>
</div>
<!----------------------Affiche ticket------------------------------>
<div class="contenue_ticket_global" *ngIf="liste_ticket">
  <div class="titre">
    <div class="statut">
      <div class="ouvert" [ngClass]="{'ticket_ouvert': ticket_ouvert}" (click)="affiche_ouvert()">Ouvert</div>
      <div class="en_cours"  [ngClass]="{'ticket_encour': ticket_encour}" (click)="affiche_encour()">En cours</div>
      <div class="ferme"  [ngClass]="{'ticket_fermer': ticket_fermer}" (click)="affiche_fermer()">Fermé</div>
    </div>
  </div>
  <table class="table_ticket">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Catégorie</th>
        <th>Priorité</th>
        <th>Bureau</th>
        <th>Demandeur</th>
        <th>Date Ouverture</th>
      </tr>
    </thead>
    <tbody>
 <tr *ngFor="let tic of tickets ; let i = index" (click)="fermeture_ticket(tic.id || -1, $event)" >
        <td>{{ i + 1 }}</td>
        <td>{{ tic.titre}}</td>
        <td>{{ tic.categorie}}</td>
        <td>{{tic.priorite }}</td>
       <td>{{ recupbureaux(tic.id_bureau || -1 ) }}</td>
        <td>{{tic.demandeur}}</td>
        <td>{{tic.dateOuverture }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!----------------------Ajoute ticket------------------------------->
<div class="contenue_ajoute_ticket" *ngIf="ajoute_ticket">
  <div class="contenu_formu">
    <form class="ticket-form" #ticketForm="ngForm" (ngSubmit)="ajoute_tickets()">
      <div class="formu_ticket_gauche">
        <div class="form-group">
          <label for="titre">Titre</label>
          <input type="text" id="titre" name="titre" [(ngModel)]="newTicket.titre" required>
        </div>

        <div class="form-group">
          <label for="priorite">Priorité</label>
          <select id="priorite" name="priorite" [(ngModel)]="newTicket.priorite" required>
            <option value="faible">Faible</option>
            <option value="moyenne">Moyenne</option>
            <option value="haute">Haute</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" name="description" [(ngModel)]="newTicket.description" required></textarea>
        </div>
      </div>

      <div class="formu_ticket_droit">
        <div class="form-group">
          <label for="type">Type</label>
          <select id="type" name="type" [(ngModel)]="newTicket.categorie" required>
            <option value="Incident">Incident</option>
            <option value="Demande">Demande</option>
          </select>
        </div>

        <button type="submit" class="btn-submit" [disabled]="ticketForm.invalid">Ajouter le ticket</button>
      </div>
    </form>

  </div>

</div>
<!----------------------fermeture ticket------------------------------->
<div class="contenue_fermeture_ticket" *ngIf="ferme_ticket">
  <div class="contenu_formu">
    <!-- Bouton de fermeture -->
    <div class="contenu_quit">
      <div (click)="affiche_liste_ticket()" class="quite">X</div>
    </div>

    <!-- Informations du ticket -->
    <div class="ticket-info">
      <table class="ticket-details">
        <tr>
            <th>Titre</th>
            <td>{{ tickets_id.titre || '--------' }}</td>
        </tr>
        <tr>
            <th>Priorité</th>
            <td>{{ tickets_id.priorite || '--------' }}</td>
        </tr>
        <tr>
            <th>Catégorie</th>
            <td>{{ tickets_id.categorie || '--------' }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ tickets_id.description || '--------' }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ tickets_id.statut || '--------' }}</td>
        </tr>
        <tr>
            <th>Date d'ouverture</th>
            <td>{{ tickets_id.dateOuverture || '--------' }}</td>
        </tr>
        <tr>
            <th>Date de prise en charge</th>
            <td>{{ tickets_id.datePrise || '--------' }}</td>
        </tr>
        <tr>
            <th>Date de fermeture</th>
            <td>{{ tickets_id.dateFermeture || '--------' }}</td>
        </tr>
        <tr>
            <th>Nom du demandeur</th>
            <td>{{ tickets_id.demandeur || '--------' }}</td>
        </tr>
        <tr>
            <th>Technicien</th>
            <td>{{ tickets_id.technicien || '--------' }}</td>
        </tr>
        <tr *ngIf="ticket_fermer">
          <th>Type d'équipement</th>
          <td>{{  tickets_id.typeEquipement  || '--------' }}</td>
      </tr>
        <tr *ngIf="ticket_fermer">
          <th>Panne</th>
          <td>{{  tickets_id.panne  || '--------' }}</td>
      </tr>
    </table>

    </div>
  </div>
  <div class="contient_but">

    <div  class="butn_abandonné"  *ngIf="ticket_encour" (click)="Abandonne_ticket()">Fermer le ticket</div>

  </div>
</div>


